/* Base styling for Login and Register page */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1580616876001-bd52f55cad59?q=80&w=1762&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

body {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: xx-large;
        color: antiquewhite;
        border-radius: 30px;
        padding: 2%;
        background-color: rgba(0, 0, 0, 0.696);
        box-shadow: 18px 28px 41px -3px rgba(43, 125, 139, 0.75);
    }

    #login_section {
        display: flex;
        width: 70%;
        justify-content: center;
        padding: 5%;
        color: antiquewhite;
        border-radius: 30px;
        max-width: 500px;
        background-color: rgba(0, 0, 0, 0.696);
        box-shadow: 18px 28px 41px -3px rgba(43, 125, 139, 0.75);
    }

    #register_section {
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: center;
        padding: 5%;
        color: antiquewhite;
        border-radius: 30px;
        max-width: 500px;
        max-height: 300px;
        background-color: rgba(0, 0, 0, 0.696);
        box-shadow: 18px 28px 41px -3px rgba(43, 125, 139, 0.75);
    }

    #createAccountBtn {
        width: 60%;
    }

    #label_div {
        display: flex;
        flex-direction: column;
    }

    #userLoginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    #loginBtn {
        width: 40%;
    }

    #passwordInput, #userInput, #createUser, #createPassword {
        margin-bottom: 5%;
        width: 80%;
    }

    h3,
    #userRegisterForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #createAccountBtn {
        width: 30%;
    }

    label {
        margin-bottom: 28%;
    }

    #footerLink {
        right: 200px;
        color: rgb(0, 0, 0);
        background-color: white;
        border-radius: 30%;
        padding: 10px;
        box-shadow: 18px 28px 41px -3px rgba(43, 125, 139, 0.75);
    }