/* Base styling for Main page */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    background-image: url("https://images.unsplash.com/photo-1615250068983-3188832dfefc?q=80&w=1752&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-size: cover;
}

body {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;

    padding: 10px;

    border-color: black;
    border-style: solid;
    border-width: 1px;
}

header {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    display: flex;
    justify-content: space-between;

    margin-bottom: 70px;
    margin-top: 20px;
    padding: 50px;
    color: antiquewhite;


    background-color: rgba(0, 0, 0, 0.42);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

#nav-links {
    display: flex;
    width: 130px;
    justify-content: space-between;
    
    
}

#main-forms {
    background-color: rgba(0, 0, 0, 0.365);
    padding: 10px;
    border-radius: 30px;
}
#main-forms, #containers, #analytics{
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: antiquewhite;

}

#expenseSection, #incomeSection, #incomeContainer, #expenseContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
}

h2 {
    display: flex;
    justify-content: center;
}

#addExpenseData, #incomeDataForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#incomeSourceData, #incomeData, #expenseData, #expenseName {
    width: 50%;
    margin: 5px;
}

#dueDateLabel {
    font-size: small;
}

#expenseDueDate {
    margin-bottom: 5px;
}

#incomeContainer, #expenseContainer {
    background-color: rgba(0, 0, 0, 0.365);
    padding: 10px;
    border-radius: 30px;
}

#incomeContainer, #expenseContainer, #income-div, #expense-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 15px;
    border-radius: 20px;
    padding: 10px;

    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#income-div, #expense-div {
    background-color: rgba(0, 0, 0, 0.365);
    padding: 10px;
    border-radius: 30px;
}

.expense-card, .income-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;

    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.728);
    border-radius: 30px;
    padding: 15px;
}

.expense-card-name, .expense-card-date, .delete-btn, .edit-btn, .paid-btn {
    margin: 3px;
}

.expense-card-amount, .income-card-amount{
    font-size: 3vh;
    margin-bottom: 3px;
}

.sumOfIncome, .sumOfExpenses {
    font-size: 5vh;
}